#!/bin/sh
# Installs Homebrew on macOS if not already present.

{{ if eq .chezmoi.os "darwin" -}}
echo "Checking Homebrew..."
if ! command -v brew >/dev/null 2>&1; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{ end -}}
