{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
# Installs Nix if not already present (single-user installation).

if ! command -v nix >/dev/null 2>&1; then
    curl -L https://nixos.org/nix/install | sh -s -- --no-daemon
fi

# Source nix profile
eval "$("$HOME/.nix-profile/etc/profile.d/nix.sh")"

{{ end -}}