{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Source nix so it's available in this shell
. "$HOME/.nix-profile/etc/profile.d/nix.sh"

echo "Installing packages with nix..."

{{ range .packages.linux.nixpkgs -}}
nix profile add nixpkgs#{{ . }}
{{ end -}}

echo "Installing flake packages with nix..."

{{ range .packages.linux.flakes -}}
nix profile add {{ . }}
{{ end -}}

echo "All packages installed."
{{ end -}}
